<div class="row">
    <div class="col-md-12">
        <h1>HAKKIMDA</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">İletişim</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <img src="~/images/kabasakal.png" style="float:left">
        <p>Ben kabasakal.</p>
    </div>
    <div class="col-md-4">
        <div class="bg-light p-3" style="height:100%;">
            <h4>Projelerim</h4>
            <ul>
                <li>Randevu Sistemi</li>
                <li>Kütüphane Yazılımı</li>
                <li>Kelime İşleme</li>
            </ul>
        </div>
    </div>
</div>